body {
    background: #342932;
}

canvas {
    max-width: 80vw;
    max-height: 80vh;
    border: 1px dashed black;
    background-color: white;
}

figcaption {
    color: #eee;
    font-family: sans-serif;
}