body {
  background: black;
  padding: 0;
  margin: 0;
}

video {
  width: 100%;
  position: absolute;
  bottom: 0;
}

#caption {
  width: 100%;
  position: absolute;
  bottom: 70px;

  color: papayaWhip;
  font-size: 20pt;  
  font-family: sans-serif;
  text-align: center;
  font-weight: bold;
  text-shadow: black 2px 2px 2px;
  z-index: 100;
} 